<div class="container py-5">
    <div class="row">
        <div class="text-center text-white">
            <h2 class="fw-bold text-black">PORTFOLIO COMPONENT</h2>
            <div class="d-flex justify-content-center align-items-center py-3">
                <div class="line bg-black"></div>
                <i class="fa-solid fa-star text-black fs-5"></i>
                <div class="line bg-black"></div>
            </div>
            <div class="row g-5 p-5">
                <div *ngFor="let img of imgSources" class="col-md-4">
                    <div (click)="showImg(this.img)" class="card rounded-3 position-relative">
                        <div class="layer d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-plus display-2 text-white"></i>
                        </div>
                        <img [src]="img" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="imgShow" (click)="closeImg()" class="imgShow d-flex align-items-center justify-content-center">
    <img class="w-50 p-5" [src]="ourSrc" alt="">
</div>